/* @tailwind base;
@tailwind components; */
@tailwind utilities;

body {
  background-color: black; /* default background */
  color: white;
}
@import "tailwindcss";


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradientMove 4s ease infinite;
}
